<MarketplaceDetails>
  <SmallAppTile>store tile.png</SmallAppTile>
  <ScreenShots>1_480.png;2_480.png;3_480.png;4_480.png;5_480.png;6_480.png;;;</ScreenShots>
  <ScreenShotsWXGA>1.png;2.png;4.png;5.png;6.png;7.png;;;</ScreenShotsWXGA>
  <ScreenShots720P>;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>